---
layout: archive
title: "Software for Solving the Inverse Rig Problem"
permalink: /software/
author_profile: true
---



<p> During the progress of my PhD, an extensive amount of code was developed, aimed at facilitating the joint task of modelling solving the inverse rig problem. Detailed scripts with instructions are available at my GitHub page
<a href="https://github.com/stevorackovic/FacialAnimation">FacialAnimation</a>. In specific, the repository covers three lines of work:
</p>
<p> Scripts corresponding to the  method proposed in our papers "A majorization–minimization-based method for nonconvex inverse rig problems in facial animation: algorithm derivation" and "Accurate and Interpretable Solution of the Inverse Rig for Realistic Blendshape Models with Quadratic Corrective Terms" are within the repository <a href="https://github.com/stevorackovic/FacialAnimation/tree/master/Scripts/LMMM">https://github.com/stevorackovic/FacialAnimation/tree/master/Scripts/LMMM</a> <a>/publication/2021-12-08-EUSIPCO</a>
</p>




{% include base_path %}

{% for post in site.software %}
  {% include archive-single.html %}
{% endfor %}

