---
layout: archive
title: "Software for Solving the Inverse Rig Problem"
permalink: /software/
author_profile: true
---



<p> During the progress of my PhD, an extensive amount of code was developed, aimed at facilitating the joint task of modelling solving the inverse rig problem. Detailed scripts with instructions are available at my GitHub page
<a href="https://github.com/stevorackovic/FacialAnimation">FacialAnimation</a>. In specific, the repository covers four lines of work:
</p>
<p> Scripts corresponding to the method proposed in our papers <a href="/publication/2023-05-21-OptLett">"A majorization–minimization-based method for nonconvex inverse rig problems in facial animation: algorithm derivation"</a> and <a href="/publication/2023-02-04-LMMM">"Accurate and Interpretable Solution of the Inverse Rig for Realistic Blendshape Models with Quadratic Corrective Terms"</a>, are within the repository <a href="https://github.com/stevorackovic/FacialAnimation/tree/master/Scripts/LMMM">https://github.com/stevorackovic/FacialAnimation/tree/master/Scripts/LMMM</a>
</p>
<p> Scripts corresponding to the method proposed in our paper <a href="/publication/2023-03-27-CD">"High-fidelity Interpretable Inverse Rig: An Accurate and Sparse Solution Optimizing the Quartic Blendshape Model"</a>, are within the repository <a href="https://github.com/stevorackovic/FacialAnimation/tree/master/Scripts/CoordinateDescent">https://github.com/stevorackovic/FacialAnimation/tree/master/Scripts/CoordinateDescent</a> 
<p> Scripts corresponding to distributed methods proposed in our papers <a href="/publication/2021-12-08-EUSIPCO">"Clustering of the Blendshape Facial Model"</a> and <a href="/publication/2023-03-21-Distributed">"Distributed Solution of the Inverse Rig Problem in Blendshape Facial Animation"</a>, are within the repository <a href="https://github.com/stevorackovic/FacialAnimation/tree/master/Scripts/DistributedSolution">https://github.com/stevorackovic/FacialAnimation/tree/master/Scripts/DistributedSolution</a>
<p> Scripts corresponding to a time-aware method proposed in our paper <a href="/publication/2024-12-03-SIGGRAPH">"Refined Inverse Rigging: A Balanced Approach to High-fidelity Blendshape Animation"</a> is within the repository <a href="https://github.com/stevorackovic/FacialAnimation/blob/master/Scripts/TimeAwareComponent">https://github.com/stevorackovic/FacialAnimation/blob/master/Scripts/TimeAwareComponent</a>



{% include base_path %}

{% for post in site.software %}
  {% include archive-single.html %}
{% endfor %}

