---
layout: archive
title: "Software for Shape Modelling and Registration"
permalink: /software/
author_profile: true
---



<p> During the progress of my PhD an extensive amount of code was developed, aimed at facilitating the joint task of modelling and registration. 

While the two delevoped methods (<b>Pipeline</b> and <b>GPSF</b>) are accompanied by an encapsulated functions, here we detail the full extent of our underlying code. 
This includes useful classes for handling registered and non registered datasets of 2D or 3D data, as well as an easy extension of registration to new methods. </p>


<p>

The main components of this library are the modules <b>shapes</b>, <b>registration</b> and <b>gp_framework</b>_. 
The first implements classes for individual shapes and full datasets, either registered or not, and allows for shape transformations, while keeping track of their correspondences. 
The second handles different registration methods and a large set of convenient metrics. 
The last containts extends and adapts the gpflow library to shape analysis, including the proposal in our second paper (this section will be made public upon acceptance of the paper).

</p>

{% include base_path %}

{% for post in site.software %}
  {% include archive-single.html %}
{% endfor %}

